<!-- Navbar Partial -->
<!-- Responsible for the navbar html for the app -->

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="">BazeBox</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">

        <form id="uploadForm" style="visibility:hidden; position:fixed" action="/upload" method="POST" enctype="multipart/form-data">
          <input id="fileChooser" type="file" name="file">
          <input type="submit">
        </form>

        <li><a class="glyphicon glyphicon-cloud-upload" style="cursor:pointer"></a></li>

        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">User<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="">Caleb</a></li>
            <li><a href="">Laura</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="">Logout</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>